<a href="https://www.kaggle.com/code/muskanhanda2511/sql-analysis-of-soccer-data?scriptVersionId=115916308" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/soccer/database.sqlite

In [2]:
import sqlite3 #python
path = "../input/soccer/"  #Insert path here
db = path + 'database.sqlite'
conn = sqlite3.connect(db)
print("Database Connected")

Database Connected

In [3]:
#tables from the database
#select * : all the attributes from sqlite_master: database where type = "table"
tables= pd.read_sql("""SELECT name 
                    FROM sqlite_master 
                    where type = 'table';""",conn)
print(tables)

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [4]:
q1="""SELECT * FROM Team_Attributes limit 10;"""
r1=pd.read_sql(q1,conn)
print(r1)

   id  team_fifa_api_id  team_api_id                 date  buildUpPlaySpeed  \
0   1               434         9930  2010-02-22 00:00:00                60
1   2               434         9930  2014-09-19 00:00:00                52
2   3               434         9930  2015-09-10 00:00:00                47
3   4                77         8485  2010-02-22 00:00:00                70
4   5                77         8485  2011-02-22 00:00:00                47
5   6                77         8485  2012-02-22 00:00:00                58
6   7                77         8485  2013-09-20 00:00:00                62
7   8                77         8485  2014-09-19 00:00:00                58
8   9                77         8485  2015-09-10 00:00:00                59
9  10               614         8576  2010-02-22 00:00:00                60

  buildUpPlaySpeedClass  buildUpPlayDribbling buildUpPlayDribblingClass  \
0              Balanced                   NaN                    Little
1              Balanced                  48.0                    Normal
2              Balanced                  41.0                    Normal
3                  Fast                   NaN                    Little
4              Balanced                   NaN                    Little
5              Balanced                   NaN                    Little
6              Balanced                   NaN                    Little
7              Balanced                  64.0                    Normal
8              Balanced                  64.0                    Normal
9              Balanced                   NaN                    Little

   buildUpPlayPassing buildUpPlayPassingClass  ... chanceCreationShooting  \
0                  50                   Mixed  ...                     55
1                  56                   Mixed  ...                     64
2                  54                   Mixed  ...                     64
3                  70                    Long  ...                     70
4                  52                   Mixed  ...                     52
5                  62                   Mixed  ...                     55
6                  45                   Mixed  ...                     55
7                  62                   Mixed  ...                     57
8                  53                   Mixed  ...                     63
9                  40                   Mixed  ...                     55

   chanceCreationShootingClass chanceCreationPositioningClass  \
0                       Normal                      Organised
1                       Normal                      Organised
2                       Normal                      Organised
3                         Lots                      Organised
4                       Normal                      Organised
5                       Normal                      Organised
6                       Normal                      Organised
7                       Normal                      Organised
8                       Normal                      Free Form
9                       Normal                      Organised

   defencePressure defencePressureClass  defenceAggression  \
0               50               Medium                 55
1               47               Medium                 44
2               47               Medium                 44
3               60               Medium                 70
4               47               Medium                 47
5               40               Medium                 40
6               42               Medium                 42
7               41               Medium                 42
8               49               Medium                 45
9               30                 Deep                 70

  defenceAggressionClass defenceTeamWidth  defenceTeamWidthClass  \
0                  Press               45                 Normal
1                  Press               54                 Normal
2                  Press               54                 Normal
3                 Double               70                   Wide
4                  Press               52                 Normal
5                  Press               60                 Normal
6                  Press               60                 Normal
7                  Press               60                 Normal
8                  Press               63                 Normal
9                 Double               30                 Narrow

  defenceDefenderLineClass
0                    Cover
1                    Cover
2                    Cover
3                    Cover
4                    Cover
5                    Cover
6                    Cover
7                    Cover
8                    Cover
9             Offside Trap

[10 rows x 25 columns]

In [5]:
#where defenceTeamWidth > 50
q2="""SELECT count(team_fifa_api_id) FROM Team_Attributes where (defenceTeamWidth > 50) and (defenceTeamWidthClass = 'Normal') ;"""
r2=pd.read_sql(q2,conn)
print(r2)

   count(team_fifa_api_id)
0                      719

In [6]:
q3= """SELECT * FROM MATCH order by country_id desc limit 10;"""
r3=pd.read_sql(q3,conn)
print(r3)

      id  country_id  league_id     season  stage                 date  \
0  24558       24558      24558  2008/2009      1  2008-09-23 00:00:00
1  24559       24558      24558  2008/2009      1  2008-07-18 00:00:00
2  24560       24558      24558  2008/2009      1  2008-07-19 00:00:00
3  24561       24558      24558  2008/2009      1  2008-07-20 00:00:00
4  24562       24558      24558  2008/2009      1  2008-07-20 00:00:00
5  24563       24558      24558  2008/2009     10  2008-09-26 00:00:00
6  24564       24558      24558  2008/2009     10  2008-09-27 00:00:00
7  24565       24558      24558  2008/2009     10  2008-09-27 00:00:00
8  24566       24558      24558  2008/2009     10  2008-09-28 00:00:00
9  24567       24558      24558  2008/2009     10  2008-09-28 00:00:00

   match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
0        486262              9956              6493               3  ...
1        486263             10192              9931               1  ...
2        486264              9930             10179               3  ...
3        486265             10199              9824               1  ...
4        486266              7955             10243               1  ...
5        486310              6493              9956               1  ...
6        486311              9931             10192               1  ...
7        486312             10179              9930               1  ...
8        486313              9824             10199               1  ...
9        486314             10243              7955               3  ...

    SJA   VCH   VCD   VCA   GBH   GBD   GBA   BSH   BSD   BSA
0  None  None  None  None  None  None  None  None  None  None
1  None  None  None  None  None  None  None  None  None  None
2  None  None  None  None  None  None  None  None  None  None
3  None  None  None  None  None  None  None  None  None  None
4  None  None  None  None  None  None  None  None  None  None
5  None  None  None  None  None  None  None  None  None  None
6  None  None  None  None  None  None  None  None  None  None
7  None  None  None  None  None  None  None  None  None  None
8  None  None  None  None  None  None  None  None  None  None
9  None  None  None  None  None  None  None  None  None  None

[10 rows x 115 columns]

In [7]:
q4= """select count(id) from match where (country_id = 24558) and (home_team_goal = 1);"""
r4 = pd.read_sql(q4, conn)
print(r4)

   count(id)
0        436

In [8]:
q5 = """SELECT * FROM player;"""
r5 = pd.read_sql(q5, conn)
print(r5)

          id  player_api_id          player_name  player_fifa_api_id  \
0          1         505942   Aaron Appindangoye              218353
1          2         155782      Aaron Cresswell              189615
2          3         162549          Aaron Doran              186170
3          4          30572        Aaron Galindo              140161
4          5          23780         Aaron Hughes               17725
...      ...            ...                  ...                 ...
11055  11071          26357       Zoumana Camara                2488
11056  11072         111182         Zsolt Laczko              164680
11057  11073          36491            Zsolt Low              111191
11058  11074          35506  Zurab Khizanishvili               47058
11059  11075          39902   Zvjezdan Misimovic              102359

                  birthday  height  weight
0      1992-02-29 00:00:00  182.88     187
1      1989-12-15 00:00:00  170.18     146
2      1991-05-13 00:00:00  170.18     163
3      1982-05-08 00:00:00  182.88     198
4      1979-11-08 00:00:00  182.88     154
...                    ...     ...     ...
11055  1979-04-03 00:00:00  182.88     168
11056  1986-12-18 00:00:00  182.88     176
11057  1979-04-29 00:00:00  180.34     154
11058  1981-10-06 00:00:00  185.42     172
11059  1982-06-05 00:00:00  180.34     176

[11060 rows x 7 columns]

In [9]:
q6 = """select player_name from player where (height > 180.00) and (weight < 175) and player_name like 'M%';"""
r6 = pd.read_sql(q6, conn)
print(r6)

           player_name
0        Macedo Novaes
1     Maciej Jankowski
2        Maciej Korzym
3     Maciej Krakowiak
4         Maciej Manka
..                 ...
470       Munas Dabbur
471    Murray Davidson
472    Mushaga Bakenga
473    Mustapha Diallo
474  Mustapha Yatabare

[475 rows x 1 columns]

In [10]:
q7 = """SELECT birthday, player_name from player where player_name like 'Za%'order by BIRTHDAY; """
r7 = pd.read_sql(q7, conn)
print(r7)

               birthday          player_name
0   1984-01-10 00:00:00        Zak Whitbread
1   1985-03-12 00:00:00       Zander Diamond
2   1986-02-22 00:00:00        Zakaria Gueye
3   1986-08-13 00:00:00       Zakaria Diallo
4   1987-03-31 00:00:00       Zatyiah Knight
5   1988-06-24 00:00:00     Zainadine Junior
6   1988-12-27 00:00:00          Zavon Hines
7   1989-01-07 00:00:00     Zakarya Bergdich
8   1989-11-06 00:00:00          Zaur Sadaev
9   1989-11-11 00:00:00          Zargo Toure
10  1990-02-22 00:00:00      Zarko Tomasevic
11  1992-03-07 00:00:00     Zacharie Boucher
12  1992-04-06 00:00:00       Zakaria M'Sila
13  1992-06-26 00:00:00         Zander Clark
14  1993-03-09 00:00:00       Zakaria Labyad
15  1993-06-30 00:00:00  Zaine Francis-Angol
16  1994-03-01 00:00:00           Zana Allee
17  1996-01-26 00:00:00      Zakaria Bakkali
18  1996-05-07 00:00:00   Zakaria El Azzouzi

In [11]:
q8 = """SELECT * FROM Player_Attributes limit 5;"""
r8 = pd.read_sql(q8, conn)
print(r8)

   id  player_fifa_api_id  player_api_id                 date  overall_rating  \
0   1              218353         505942  2016-02-18 00:00:00              67
1   2              218353         505942  2015-11-19 00:00:00              67
2   3              218353         505942  2015-09-21 00:00:00              62
3   4              218353         505942  2015-03-20 00:00:00              61
4   5              218353         505942  2007-02-22 00:00:00              61

   potential preferred_foot attacking_work_rate defensive_work_rate  crossing  \
0         71          right              medium              medium        49
1         71          right              medium              medium        49
2         66          right              medium              medium        49
3         65          right              medium              medium        48
4         65          right              medium              medium        48

   ...  vision  penalties  marking  standing_tackle  sliding_tackle  \
0  ...      54         48       65               69              69
1  ...      54         48       65               69              69
2  ...      54         48       65               66              69
3  ...      53         47       62               63              66
4  ...      53         47       62               63              66

   gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
0          6           11          10               8            8
1          6           11          10               8            8
2          6           11          10               8            8
3          5           10           9               7            7
4          5           10           9               7            7

[5 rows x 42 columns]

q9 = """SELECT AVG(OVERALL_RATING) FROM PLAYER_ATTRIBUTES WHERE (potential > 65) and (preferred_foot = 'right') and penalties < 30;"""
r9 = pd.read_sql(q9, conn)
print(r9)

In [12]:
q9 = """SELECT AVG(OVERALL_RATING)AS AVG_RATING FROM PLAYER_ATTRIBUTES WHERE (POTENTIAL > 70) AND (PREFERRED_FOOT= 'left') AND (PENALTIES < 50);"""
r9 = pd.read_sql(q9, conn)
print(r9)

   AVG_RATING
0   69.131182

In [13]:
q10 = """select country.id, country.name as country_name, league.name as league_name from country join league on country.id = league.country_id order by country.name;"""
r10 = pd.read_sql(q10, conn)
print(r10.head()) #top 5 records

      id country_name             league_name
0      1      Belgium  Belgium Jupiler League
1   1729      England  England Premier League
2   4769       France          France Ligue 1
3   7809      Germany   Germany 1. Bundesliga
4  10257        Italy           Italy Serie A

In [14]:
q11= """select * from team limit 10;"""
r11 = pd.read_sql(q11, conn)
print(r11)

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB
5   6         8635             229.0     RSC Anderlecht             AND
6   7         9991             674.0           KAA Gent             GEN
7   8         9998            1747.0          RAEC Mons             MON
8   9         7947               NaN      FCV Dender EH             DEN
9  10         9985             232.0  Standard de Liège             STL

In [15]:
q12= """select id,team_short_name from team order by team_short_name desc limit 10;"""
r12 = pd.read_sql(q12, conn)
print(r12)

      id team_short_name
0  29000             ZWO
1  49124             ZUR
2      3             ZUL
3  33855             ZAW
4  43803             ZAR
5  31928             ZAG
6  49117              YB
7  43800             XER
8  49123             XAM
9   4225             WOL

SELECTING DISTINCT LEAGUES FROM LEAGUES TABLE!

In [16]:
q13="""SELECT count(DISTINCT name) FROM League;"""
r13 = pd.read_sql(q13, conn)
print(r13)

   count(DISTINCT name)
0                    11